:root {
  --main-background-color: rgb(188, 143, 143, 0.3);
  --main-text-color: rgb(188, 143, 143);
}

body {
  margin-top: 100px;
  background-color: var(--main-background-color);
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: var(--main-text-color);
  display: block;
  text-align: center;
}

.bg-custom {
  background-color: var(--main-text-color);
}

.text-bg-custom {
  background-color: var(--main-text-color);
  opacity: 7;
}

.font-custom {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  color: rgb(255, 255, 255, 0.7);
}
